services:
  db:
    image: postgres:15
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: app_db
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - 5432:5432
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5
  
  auth_service:
    build: 
      context: ./backend/auth_service
      dockerfile: Dockerfile  
    ports:
     - "8001:8001"
    volumes:
     - ./backend/auth_service:/app
    env_file:
     - ./backend/.env
    environment:
      DATABASE_URL: "postgresql://postgres:postgres@db:5432/app_db"
    depends_on:
      db:
       condition: service_healthy
  
  tasks_service:
    build: 
      context: ./backend/tasks_service
      dockerfile: Dockerfile
    ports:
     - "8002:8002"
    volumes:
     - ./backend/tasks_service:/app
    env_file:
     - ./backend/.env
    environment:
      DATABASE_URL: postgresql://postgres:postgres@db:5432/app_db
      AUTH_SERVICE_URL: http://auth_service:8001
    depends_on:
     - db
     - auth_service

volumes:
  postgres_data:



